/* CSS Document */

#jqt > * {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 44px;
	background-color: #e9eef7;
}

#home, #contentMenu {
	color: white;
	width: 100%;
    margin: auto;
    background-position: center 0px;
	padding: 0;
    text-align:center;
}

#home_cat2 {
    display: inline-block;
    margin:0 auto; /* si il s'agit du premier module de la page d'accueil on peut appliquer en plus un margin-top:Ypx pour dŽcaler en hauteur le bloc d'icones */ 
    background-image:url(../images/decouvrir.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 70px;
	text-align:center;
	width: 90px;
    height: 40px;
	vertical-align: top;
}

body a {
    font-weight: normal;
}

a.homeMenu {
    font-family: 'Helvetica Neue', Helvetica;
    color: white;
    font-size: 12px;
	font-weight: bold;
    text-decoration: none;
    height: 102px;
    width: 70px;
}

#dialog {
    min-height: 0px:
    overflow: hidden;
}

#dialog ul.metal {
    list-style-type: none;
}

#dialog a {
    text-decoration: none;
}

.ui-dialog .ui-dialog-content {
    list-style-type: none;
    padding: 0px;
}

.ui-widget-content {
    background: white;
}

.ui-widget-header {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
    border: 1px solid #768ba7;
    color: white;
}

#dialog .menuTitle {
    line-height: 30px;
}