/* CSS Document */

#jqt > * {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 44px;
	background-color: #e9eef7;
}

#home, #contentMenu {
	color: white;
	width: 100%;
    margin: auto;
    background-position: center 0px;
	padding: 0;
    text-align:center;
}

#home_cat2 {
    display: inline-block;
    margin:0 auto; /* si il s'agit du premier module de la page d'accueil on peut appliquer en plus un margin-top:Ypx pour dŽcaler en hauteur le bloc d'icones */ 
    background-image:url(../images/decouvrir.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 70px;
	text-align:center;
	width: 90px;
    height: 40px;
	vertical-align: top;
}

body a {
    font-weight: normal;
}

#home_wrapper {
    margin-top: 10px;
}

.box {
	background-color: white;
	border-width: 0px;
	border-color: #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0em 0;
	padding: 5px 5px;
    opacity: 0.8;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.hangingSubhead {
	font-size: 110%;
	padding-left: 10px;
	text-indent: -10px;
	font-weight: bold;
	color: black;
}

.titre {
	color: #70AA00;
	font-family: 'Arial';
	font-size: 2em;
	margin: 10px 0 15px 0;
	text-align: left;
}

.soustitre {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: none;
	display: block;
	font-family: 'Arial';
	font-size: 1.58em;
    font-weight: bold;
	margin: 25px 0 5px 0;
	padding: 0;
    text-shadow:1px 1px 1px white;
    color: #4B3A38;
    text-align:center;
}

.soustitre p {
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;  
    color: white;
}

.evident {
	font-weight: bold;	
	color: #86A608;
}

.list #content .box li {
	height: 20px;	
	border-bottom: none;
}

a.homeMenu {
    font-family: 'Helvetica Neue', Helvetica;
    color: white;
    font-size: 12px;
	font-weight: bold;
    text-decoration: none;
    height: 102px;
    width: 70px;
}

#dialog {
    min-height: 0px:
    overflow: hidden;
}

#dialog ul.metal {
    list-style-type: none;
}

#dialog a {
    text-decoration: none;
}

.ui-dialog .ui-dialog-content {
    list-style-type: none;
    padding: 0px;
}

.ui-widget-content {
    background: white;
}

.ui-widget-header {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
    border: 1px solid #768ba7;
    color: white;
}

#dialog .menuTitle {
    line-height: 30px;
}